* {
  box-sizing: border-box;
}

.grid-container {
  border: 2px solid red;
  height: 800px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid-square {
  border: 2px solid black;
  background-color: green;
  aspect-ratio: 1 / 1;
  flex: auto;
  /* the flex-basis is based on the number of squares in x dimension */
  flex-basis: calc(100% * (1 / 16));
}
